.box{
            height: 100px;
            width: 100px;
            border: 2px solid black;
            background-color: black;
            color: aliceblue;
            margin: 10px;
            border-radius: 5px;
            position: relative;
            top: 50px;
            /* display: flex; */
            left: 50px;
            transition:all 0.5s ease-in-out;
        }
        .box1:hover{
            color: black;
            background-color: #fff;
            transform: rotate(45deg);
        }
        .box2:hover{
            color: black;
            background-color: #fff;
            transform: rotatex(360deg);
        }
        .box3:hover{
            color: black;
            background-color: #fff;
            transform: rotatey(30deg);
        }
        .box4:hover{
            color: black;
            background-color: #fff;
            transform: rotatez(30deg);
        }
        .box5:hover{
            color: black;
            background-color: #fff;
            transform: scale(2);
        }
        .box6:hover{
            color: black;
            background-color: #fff;
            transform: scalex(2);
        }
        .box7:hover{
            color: black;
            background-color: #fff;
            transform: scaley(2);
        }
        .box8:hover{
            color: black;
            background-color: #fff;
            transform: scalez(0.5);
        }
        .box9:hover{
            color: black;
            background-color: #fff;
            transform: translate(50px);
        }
        .box10:hover{
            color: black;
            background-color: #fff;
            transform: translate(-50px,50px);
        }
        .box11:hover{
            color: black;
            background-color: #fff;
            transform: translatex(50px);
        }
        .box12:hover{
            color: black;
            background-color: #fff;
            transform: translatey(50px);
        }
        .box13:hover{
            color: black;
            background-color: #fff;
            transform: skew(60deg);
        }
        .box14:hover{
            color: black;
            background-color: #fff;
            transform: skew(90deg);
        }